<div class="box" *ngIf="proyect">
    <h1>{{proyect.name}}</h1>
</div>
<div class="detail" *ngIf="proyect">
    <img class="editImage" src="{{url+'get-image/'+proyect.image}}"/>
    <div class="information">
        <form class="info-detail" #infoDetail='ngForm' (ngSubmit)='editProyect(infoDetail)'>
            <p>
                <label for="name">Nombre:</label><br>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="proyect.name" required>
                <span class='valid' *ngIf="name.touched && !name.valid">*</span>
            </p>
            <p>
                <label for="category">Categoria:</label><br>
                <input type="text" name="category" #category="ngModel" [(ngModel)]="proyect.category" required>
                <span class='valid' *ngIf="category.touched && !category.valid">*</span>
            </p>
            <p>
                <label for="year">Año:</label><br>
                <input type="number" name="year" #year="ngModel" [(ngModel)]="proyect.year" required>
                <span class='valid' *ngIf="year.touched && !year.valid">*</span>
            </p>
            <p>
                <label for="langs">Lenguajes:</label><br>
                <input type="text" name="langs" #langs="ngModel" [(ngModel)]="proyect.langs" required>
                <span class='valid' *ngIf="langs.touched && !langs.valid">*</span>
            </p>
            <p>
                <label for="description">Descripcion:</label><br>
                <input type="text" name="description" #description="ngModel" [(ngModel)]="proyect.description" required>
                <span class='valid' *ngIf="description.touched && !description.valid">*</span>
            </p>
            <p>
                <label for="image">Imagen:</label>
                <input class='file' type="file" name="image" (change)="fileChangeEvent($event)">
            </p>
    
            <input type="submit" value="Edit" [disabled]="!infoDetail.form.valid">
        </form>
    </div>
</div>
